### Connect to Database

In [47]:
from sqlalchemy import create_engine, inspect, text, insert,Table, Column, Integer, String, Boolean
from sqlalchemy import Numeric, MetaData, ForeignKey, Date, select, func, join,delete
from sqlalchemy.engine import url
import configparser
import os

In [48]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/Databases/mysql.cfg")
user, passwd = mysqlcfg['mysql']['user'], mysqlcfg['mysql']['passwd']
dburl = f"mysql://{user}:{passwd}@applied-sql.cs.colorado.edu:3306/matu8568"
os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
#engine = create_engine(dburl)
print(dburl)

mysql://matu8568:cf985dc2dd76c6f3e86c@applied-sql.cs.colorado.edu:3306/matu8568

### Create Tables

In [49]:
# Load the sql magic 
# Get the MySQL version number to verify we are connected
#
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
 * mysql://matu8568:***@applied-sql.cs.colorado.edu:3306/matu8568
1 rows affected.

[('8.0.27',)]

In [90]:
drop_table_string = '''
                    SET foreign_key_checks = 0;
                    DROP TABLE IF EXISTS Suppliers;
                    DROP TABLE IF EXISTS Items;
                    DROP TABLE IF EXISTS Purchasers;
                    DROP TABLE IF EXISTS SupplierPrices;
                    DROP TABLE IF EXISTS Sales;
                    DROP TABLE IF EXISTS Orders;
                    DROP TABLE IF EXISTS Trigger_Table;
                    SET foreign_key_checks = 1;
                    '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute(drop_table_string)

In [91]:
## Business Logic Variables
DAYS_TO_SHIP = 7
DAYS_TO_INVOICE = 0
DAYS_TO_PAY = 14
SAFETY_STOCK = 20
SALE_VELOCITY = 20

with create_engine(dburl).connect() as conn:
    metadata_obj = MetaData()
    #### Parameters to Add in Columns ####
    # onupdate="CASCADE", ondelete="CASCADE"
    
    # table level CHECK constraint.  'name' is optional.
    # CheckConstraint("col2 > col3 + 5", name="check1")
    
    Suppliers = Table(
                    "Suppliers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric)
                        )

    Items = Table(
                        "Items",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("SalePrice", Numeric),
                        Column("ShippingDays", Integer),
                        Column("PriorInventory", Integer)
                        )

    Purchasers = Table(
                        "Purchasers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric),
                        )

    SupplierPrices = Table(
                        "SupplierPrices",
                        metadata_obj, 
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id", onupdate="CASCADE",ondelete="CASCADE"), primary_key=True),  
                        Column("ItemID", Integer, ForeignKey("Items.id", onupdate="CASCADE", ondelete="CASCADE"), primary_key=True),
                        Column("SupplierPrice", Numeric),
                        Column("ShippingDays", Integer),
                        )

    Sales = Table(
                        "Sales",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("PurchaserID", Integer, ForeignKey("Purchasers.id", onupdate="CASCADE", ondelete="SET NULL")),
                        Column("ItemID", Integer, ForeignKey("Items.id", onupdate="CASCADE", ondelete="SET NULL")),
                        Column("Quantity", Integer),
                        Column("TotalSalePrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("SaleDate", Date),
                        Column("ShipDate", Date),
                        Column("AutoOrder", Integer)
                        )

    Orders = Table(
                        "Orders",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id", ondelete="SET NULL")),
                        Column("ItemID", Integer, ForeignKey("Items.id", ondelete="SET NULL")),
                        Column("Quantity", Integer),
                        Column("TotalOrderPrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("OrderDate", Date),
                        Column("RecieveDate", Date),
                        Column("AutoOrder", Integer)
                        )
    
    Trigger_Table = Table(
                    "Trigger_Table",
                    metadata_obj,
                    Column("id", Integer, primary_key=True),
                    Column("ItemID", Integer, ForeignKey("Items.id", ondelete="SET NULL")),
                    Column("SaleID", Integer, ForeignKey("Sales.id", ondelete="SET NULL")),
                    Column("OrderID", Integer, ForeignKey("Orders.id", ondelete="SET NULL")),
                    Column("Quantity", Integer),
                    Column("SaleDate", Date),
                    Column("OrderDate", Date),
                    )

    metadata_obj.create_all(conn)

In [92]:
order_procedure_string = '''
                                    CREATE PROCEDURE insert_order(orderItemID INT, orderQuantity INT, orderDate DATE, saleAutoOrder INT)
                                        BEGIN
                                        INSERT INTO Orders(SupplierID, ItemID, Quantity, TotalOrderPrice, InvoiceDate, OrderDate, RecieveDate, AutoOrder) 
                                            VALUES ((SELECT SupplierID 
                                                                    FROM SupplierPrices
                                                                    WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                                                            FROM SupplierPrices
                                                                                            WHERE ItemID = orderItemID
                                                                                            GROUP BY ItemID)
                                                                    LIMIT 1),
                                                    orderItemID,
                                                    orderQuantity,
                                                    orderQuantity * (SELECT MIN(SupplierPrice)
                                                                                            FROM SupplierPrices
                                                                                            WHERE ItemID = orderItemID
                                                                                            GROUP BY ItemID),
                                                    orderDate,
                                                    orderDate,
                                                    ADDDATE(orderDate, (SELECT ShippingDays 
                                                                    FROM SupplierPrices
                                                                    WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                                                            FROM SupplierPrices
                                                                                            WHERE ItemID = orderItemID
                                                                                            GROUP BY ItemID)
                                                                    LIMIT 1)),
                                                    saleAutoOrder);
                                        END;
                                '''

sale_procedure_string = '''
                                    CREATE PROCEDURE insert_sale(salePurchaserID INT, saleItemID INT, saleQuantity INT, saleDate DATE, daysToShip INT)
                                        BEGIN
                                            IF saleQuantity > (SELECT Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                                                                FROM Items
                                                                JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                                                    FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                                                    JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < saleDate GROUP BY ItemID) as priorOrders
                                                                    ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                                                                ON Items.id = ItemQuant.ItemID
                                                                WHERE Items.id = saleItemID)
                                                THEN 
                                                    BEGIN
                                                        CALL insert_order(saleItemID, saleQuantity, saleDate, 999);
                                                        INSERT INTO Sales(PurchaserID, ItemID, Quantity, TotalSalePrice, InvoiceDate, SaleDate, ShipDate) 
                                                            VALUES (salePurchaserID,
                                                                    saleItemID,
                                                                    saleQuantity,
                                                                    saleQuantity * (SELECT SalePrice FROM Items WHERE id = saleItemID),
                                                                    saleDate,
                                                                    saleDate,
                                                                    ADDDATE(saleDate, daysToShip + (SELECT ShippingDays 
                                                                                                FROM SupplierPrices
                                                                                                WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                                                                                        FROM SupplierPrices
                                                                                                                        WHERE ItemID = saleItemID
                                                                                                                        GROUP BY ItemID)
                                                                                                LIMIT 1)));
                                                    END;
                                                ELSE
                                                    INSERT INTO Sales(PurchaserID, ItemID, Quantity, TotalSalePrice, InvoiceDate, SaleDate, ShipDate) 
                                                            VALUES (salePurchaserID,
                                                                    saleItemID,
                                                                    saleQuantity,
                                                                    saleQuantity * (SELECT SalePrice FROM Items WHERE id = saleItemID),
                                                                    saleDate,
                                                                    saleDate,
                                                                    ADDDATE(saleDate, daysToShip));
                                            END IF;
                                        END;
                                '''

# Order to return stock to Safety Stock + expected sale velocity
min_inventory_trigger_string = '''
                        CREATE TRIGGER min_inventory_trigger
                        AFTER INSERT ON Sales
                        FOR EACH ROW
                        BEGIN
                            IF ((SELECT Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                                    FROM Items
                                    JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                        FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                        JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < NEW.SaleDate GROUP BY ItemID) as priorOrders
                                        ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                                    ON Items.id = ItemQuant.ItemID
                                    WHERE Items.id = NEW.ItemID) < %s 
                                AND
                                (SELECT Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                                    FROM Items
                                    JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                        FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                        JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < NEW.SaleDate GROUP BY ItemID) as priorOrders
                                        ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                                    ON Items.id = ItemQuant.ItemID
                                    WHERE Items.id = NEW.ItemID) > 0)
                                THEN 
                                    BEGIN
                                         CALL insert_order(NEW.ItemID, %s + %s - (SELECT Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                                                                                    FROM Items
                                                                                    JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                                                                        FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                                                                        JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < NEW.SaleDate GROUP BY ItemID) as priorOrders
                                                                                        ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                                                                                    ON Items.id = ItemQuant.ItemID
                                                                                    WHERE Items.id = NEW.ItemID),
                                                             NEW.SaleDate, NEW.id);

                                    END;
                                
                            END IF;
                        END;
                      '''

min_price_string = '''
                            SELECT ItemID, MIN(SupplierPrice)
                            FROM SupplierPrices
                            WHERE ItemID = 1
                            GROUP BY ItemID
                            
                           '''

min_price_supplier_string = '''
                            SELECT SupplierID 
                            FROM SupplierPrices
                            WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                    FROM SupplierPrices
                                                    WHERE ItemID = 1
                                                    GROUP BY ItemID)
                            LIMIT 1
                           '''

inventory_trigger_string = '''
                            SELECT Items.id, Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                            FROM Items
                            JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < %s GROUP BY ItemID) as priorOrders
                                ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                            ON Items.id = ItemQuant.ItemID
                            '''

In [93]:
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute("DROP PROCEDURE IF EXISTS insert_sale;")
    conn.execute("DROP PROCEDURE IF EXISTS insert_order;")
    conn.execute(sale_procedure_string)
    conn.execute(order_procedure_string)

    conn.execute("DROP TRIGGER IF EXISTS min_inventory_trigger;")
    conn.execute(min_inventory_trigger_string, (SAFETY_STOCK, SAFETY_STOCK, SALE_VELOCITY))

### Load Data

In [94]:
import pandas as pd
import numpy as np

# Load data from .csv
df_suppliers = pd.read_csv('./data_files/Suppliers.csv')
suppliers_dict = df_suppliers.to_dict('records')

df_items = pd.read_csv('./data_files/Items.csv')
items_dict = df_items.to_dict('records')

df_purchasers = pd.read_csv('./data_files/Purchasers.csv')
purchasers_dict = df_purchasers.to_dict('records')

df_supplierprices = pd.read_csv('./data_files/SupplierPrices.csv')
supplierprices_dict = df_supplierprices.to_dict('records')

df_items.head()

          Name  SalePrice  ShippingDays  PriorInventory
0       Widget        200             7              50
1       Gadget        300             7              50
2  Thingamajig        450            10              50
3     Sprocket        150             7              50

In [95]:
with create_engine(dburl).connect() as conn:
    result = conn.execute(insert(Suppliers),suppliers_dict)
    result2 = conn.execute(insert(Items),items_dict)
    result3 = conn.execute(insert(Purchasers),purchasers_dict)
    result4 = conn.execute(insert(SupplierPrices),supplierprices_dict)
    for i in range(1,5):
        conn.execute("INSERT INTO Sales (ItemID, Quantity, SaleDate) Values (%s, 0,'2021-12-31')",(i,))
        conn.execute("INSERT INTO Orders (ItemID, Quantity, RecieveDate) Values (%s, 0,'2021-12-31')",(i,))

### Display Table Contents

In [96]:
with create_engine(dburl).connect() as conn:
    items = conn.execute(select(Items))
    suppliers = conn.execute(select(Suppliers))
    supplierPrices = conn.execute(select(SupplierPrices))
    purchasers = conn.execute(select(Purchasers))
    sales = conn.execute(select(Sales))
    orders = conn.execute(select(Orders))
    print("Items")
    for item in items:
        print(item)
    print("Suppliers")
    for supplier in suppliers:
        print(supplier)
    print("SupplierPrices")
    for supplierPrice in supplierPrices:
        print(supplierPrice)
    print("Purchasers")
    for purchaser in purchasers:
        print(purchaser)
    print("Sales")
    for sale in sales:
        print(sale)
    print("Orders")
    for order in orders:
        print(order)

Items
(1, 'Widget', Decimal('200'), 7, 50)
(2, 'Gadget', Decimal('300'), 7, 50)
(3, 'Thingamajig', Decimal('450'), 10, 50)
(4, 'Sprocket', Decimal('150'), 7, 50)
Suppliers
(1, 'E CORP', Decimal('0'))
(2, 'Massive Dynamic', Decimal('0'))
(3, 'Cyberdyne Systems Corporation', Decimal('0'))
(4, 'Lumon Industries', Decimal('0'))
SupplierPrices
(1, 1, Decimal('117'), 14)
(1, 2, Decimal('192'), 7)
(1, 3, Decimal('249'), 7)
(1, 4, Decimal('103'), 14)
(2, 1, Decimal('107'), 10)
(2, 2, Decimal('191'), 7)
(2, 3, Decimal('254'), 10)
(2, 4, Decimal('89'), 14)
(3, 1, Decimal('104'), 5)
(3, 2, Decimal('156'), 5)
(3, 3, Decimal('287'), 7)
(3, 4, Decimal('99'), 5)
(4, 1, Decimal('194'), 14)
(4, 2, Decimal('192'), 14)
(4, 3, Decimal('273'), 14)
(4, 4, Decimal('170'), 14)
Purchasers
(1, "Mom 'n' Pops", Decimal('0'))
(2, 'Small Timers', Decimal('0'))
(3, 'Elbow Grease', Decimal('0'))
(4, 'Hoverboards Inc.', Decimal('0'))
Sales
(1, None, 1, 0, None, None, None, datetime.date(2021, 12, 31), None, None)
(2, None, 2, 0, None, None, None, datetime.date(2021, 12, 31), None, None)
(3, None, 3, 0, None, None, None, datetime.date(2021, 12, 31), None, None)
(4, None, 4, 0, None, None, None, datetime.date(2021, 12, 31), None, None)
Orders
(1, None, 1, 0, None, None, None, None, datetime.date(2021, 12, 31), None)
(2, None, 2, 0, None, None, None, None, datetime.date(2021, 12, 31), None)
(3, None, 3, 0, None, None, None, None, datetime.date(2021, 12, 31), None)
(4, None, 4, 0, None, None, None, None, datetime.date(2021, 12, 31), None)

## Simulate Sales

Sales are logged using the procedure insert_sale:

    insert_sale(salePurchaserID INT, saleItemID INT, saleQuantity INT, saleDate DATE, daysToShip INT)
    
* Purchaser and Item for each order randomly genearated
* Quantities randomly generated between 5-60 inclusive for each order
* Sales randomly occur 0-10 days after previous sale

In [97]:
## Read data to create sales from

df_sales = pd.read_csv('./data_files/Sales.csv')
sales_dict = df_sales.to_dict('records')
df_sales.head()

   salePurchaserID  saleItemID  saleQuantity    saleDate
0                2           3            33  2022-01-01
1                4           3            54  2022-01-06
2                2           1            21  2022-01-16
3                3           3            52  2022-01-22
4                2           1            52  2022-02-01

In [99]:
with create_engine(dburl).connect() as conn:
    #conn.execute("CALL insert_order(1, 20, '2022-1-1', 999");
    ## Strange behavior that procedure calls do not work unless followed by additional execute statements
    conn.execute("INSERT INTO Trigger_Table(ItemID, Quantity, SaleDate) VALUES (1, 999, '2023-04-01');")
    conn.execute("DELETE FROM Trigger_Table WHERE Quantity = 999")

In [101]:
# Hardcoding DAYS_TO_SHIP = 7

with create_engine(dburl).connect() as conn:
    for sale in sales_dict:
        conn.execute("CALL insert_sale(%s, %s, %s, %s, 7);", (sale['salePurchaserID'],sale['saleItemID'],sale['saleQuantity'],sale['saleDate']))
        ## Strange behavior that procedure calls do not work unless followed by additional execute statements
        conn.execute("INSERT INTO Trigger_Table(ItemID, Quantity, SaleDate) VALUES (1, 999, '2023-04-01');")
        conn.execute("DELETE FROM Trigger_Table WHERE Quantity = 999")

## Track Monthly Inventory

In [109]:
## Show Starting Iventories
with create_engine(dburl).connect() as conn:
    # Execute strings here
    for month in ['2022-1-1','2022-2-1','2022-3-1','2022-4-1','2022-5-1','2022-6-1','2022-7-1','2022-8-1','2022-10-1','2022-11-1','2022-12-1']:
        results = conn.execute("SELECT COUNT(*) FROM Sales WHERE SaleDate < %s", (month,)) 
        for result in results:
            print("Sales Placed: " , result[0])
        results = conn.execute("SELECT COUNT(*) FROM Orders WHERE OrderDate < %s", (month,)) 
        for result in results:
            print("Last Order Recieved: " , result[0])
        
        print("\nInventory at 'current' date:")
        results = conn.execute(inventory_trigger_string, (month,)) 
        for result in results:
            print("ItemID: " , result[0],"Inventory: ", result[1])

Sales Placed:  4
Last Order Recieved:  0

Inventory at 'current' date:
ItemID:  1 Inventory:  -344
ItemID:  2 Inventory:  -354
ItemID:  3 Inventory:  -625
ItemID:  4 Inventory:  -359
Sales Placed:  8
Last Order Recieved:  3

Inventory at 'current' date:
ItemID:  1 Inventory:  -344
ItemID:  2 Inventory:  -354
ItemID:  3 Inventory:  -496
ItemID:  4 Inventory:  -359
Sales Placed:  14
Last Order Recieved:  9

Inventory at 'current' date:
ItemID:  1 Inventory:  -273
ItemID:  2 Inventory:  -294
ItemID:  3 Inventory:  -413
ItemID:  4 Inventory:  -359
Sales Placed:  20
Last Order Recieved:  13

Inventory at 'current' date:
ItemID:  1 Inventory:  -228
ItemID:  2 Inventory:  -294
ItemID:  3 Inventory:  -369
ItemID:  4 Inventory:  -289
Sales Placed:  30
Last Order Recieved:  19

Inventory at 'current' date:
ItemID:  1 Inventory:  -137
ItemID:  2 Inventory:  -192
ItemID:  3 Inventory:  -303
ItemID:  4 Inventory:  -289
Sales Placed:  34
Last Order Recieved:  23

Inventory at 'current' date:
ItemID:  1 Inventory:  -137
ItemID:  2 Inventory:  -166
ItemID:  3 Inventory:  -303
ItemID:  4 Inventory:  -203
Sales Placed:  39
Last Order Recieved:  25

Inventory at 'current' date:
ItemID:  1 Inventory:  -137
ItemID:  2 Inventory:  -135
ItemID:  3 Inventory:  -251
ItemID:  4 Inventory:  -111
Sales Placed:  43
Last Order Recieved:  29

Inventory at 'current' date:
ItemID:  1 Inventory:  -84
ItemID:  2 Inventory:  -135
ItemID:  3 Inventory:  -208
ItemID:  4 Inventory:  -73
Sales Placed:  59
Last Order Recieved:  40

Inventory at 'current' date:
ItemID:  1 Inventory:  -59
ItemID:  2 Inventory:  -113
ItemID:  3 Inventory:  -32
ItemID:  4 Inventory:  40
Sales Placed:  63
Last Order Recieved:  44

Inventory at 'current' date:
ItemID:  1 Inventory:  -31
ItemID:  2 Inventory:  -5
ItemID:  3 Inventory:  20
ItemID:  4 Inventory:  40
Sales Placed:  64
Last Order Recieved:  45

Inventory at 'current' date:
ItemID:  1 Inventory:  0
ItemID:  2 Inventory:  40
ItemID:  3 Inventory:  20
ItemID:  4 Inventory:  40

In [106]:
## Show Starting Iventories
with create_engine(dburl).connect() as conn:
    # Execute strings here
    results = conn.execute("SELECT MAX(SaleDate) FROM Sales") 
    for result in results:
        print("Last Sale Placed: " , result[0])
    results = conn.execute("SELECT MAX(RecieveDate) FROM Orders") 
    for result in results:
        print("Last Order Recieved: " , result[0])
        
    print("\nInventory at 'current' date:")
    results = conn.execute(inventory_trigger_string, ('2023-01-02',)) 
    for result in results:
        print("ItemID: " , result[0],"Inventory: ", result[1])

Last Sale Placed:  2022-11-01
Last Order Recieved:  2022-11-06

Inventory at 'current' date:
ItemID:  1 Inventory:  0
ItemID:  2 Inventory:  40
ItemID:  3 Inventory:  20
ItemID:  4 Inventory:  40